@media only sceen and (max-width:740px){
    #wrapper {background: #f77;}
}
@media only sceen and (max-width:570px){
    #wrapper {background: #7f7;}
}
@media only sceen and (max-width:480px){
    #wrapper {background: #77f;}
}