

html,button,input,select,textarea{
    color: #7c795d;
}
html{
    font: size 1em;
    width: 100%;
    
}

h2{
   font-family: "Gill Sans", sans-serif;;
}
img{
   
    border-color: #ccc;
    border-width: 50px;
    margin-left: 0cm; 
    border-radius: 10px;
    background-color: rgb(65, 61, 61);
    box-shadow: 0px 2px 4px rgba(0,0, 0.2);
    flex: content;
}
#accordion{

    padding-top: 0.1cm;
}

#wrapper{
    
    width: 100%;
  
}
#pr{
    font-style: normal;
    color: black;
    font-size: large;
}

#title{
    color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 49px; margin-top: 0.5cm;margin-bottom: 0.5cm; 
    
}
p{
    color: #000000; font-family:monospace; font-size: 20px; font-weight: normal; line-height: 20px; margin-top: 0.5cm;margin-bottom: 0.5cm; 

}
#st{
  

    background: #d0d8d1;
    color: rgba(2, 2, 2, 0.9);
    height: 230px;
    

}

#coll{
    column-rule: 1px solid rgb(75, 70, 74);

}

body{
    width: 100%;
}

button{
    border: none;
    
  }
  #textdiv {
    -webkit-animation: zoom1-2 infinite 10s;
            animation: zoom1-2 infinite 10s;
    -webkit-transform-origin:0 1;
            transform-origin:0 1.5 ;
    font-size:20px;
  }
  @-webkit-keyframes zoom1-2 {
    5% {
      -webkit-transform: scale(2.2);
              transform: scale(2.2);
    }
  }
  @keyframes zoom1-2 {
    10% {
      -webkit-transform: scale(2.1);
              transform: scale(1.1);
    }
  }
  .tooltip
  {
      position:absolute;
      background-color:#eeeefe;
      border: 1px solid #aaaaca;
      font-size: smaller;
      padding:4px;
      width: 160px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);	
  }
  .stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
  }
  
  .stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
  }
  
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
  
  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
  }
  
  header .social {
    margin: 18px 0 24px 0;
    font-size: 24px;
    line-height: 36px;      
 }
 header .social li { margin: 0 10px; }
/* header social links */
.social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
.social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}
.social li a { color: #7c795d; }
header .social li a:hover { color: #307b7e; }
footer .social-links { font-size: 22px; }
 footer .social-links li { margin-left: 18px; }